In [ ]:
!pip install pymongo

In [ ]:
!pip install pymongo[srv]

In [ ]:
!pip install dnspython

In [1]:
from pymongo import MongoClient

In [2]:
client = MongoClient("mongodb+srv://simplificaia-clinico:dV7hCAz8NOwUfqgv@afirmanet-xbgpa.mongodb.net/test?retryWrites=true&w=majority")

In [3]:
db = client['afirmanet-db']

In [4]:
db.list_collection_names()

['dialogos']

In [5]:
posts = db['dialogos']

In [6]:
import pandas as pd
from collections import defaultdict

input_text=pd.DataFrame(columns=['text'])
word_freq = defaultdict(int)

i=0
for doc in posts.find({ "input.text": { "$ne": "" } }, { "input.text": 1 }):
    text = doc['input']['text']
    input_text.loc[i] = text

    for word in text.split():
        word_freq[word] += 1
        
    i=i+1

In [7]:
input_text.head(5)

      text
0      ola
1  horario
2      sim
3  horario
4      sim

In [8]:
input_text.shape

(110, 1)

In [12]:
df_word_freq = pd.DataFrame.from_dict(word_freq, orient='index') \
.sort_values(0, ascending=False) \
.rename(columns={0: 'abs_freq'})

In [13]:
df_word_freq.head(20)

             abs_freq
de                 23
sim                21
?                  13
informação         11
quero              11
tem                10
quadra             10
para               10
a                  10
uma                 8
agendamento         7
agendar             6
vaga                6
tenis               6
localização         6
hoje                5
noite,              5
localidade          5
horário             5
local               5